body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eb10c3;
  transition: background-color 1s;
}

header {
  background-color: #534caf;
  color: rgb(232, 118, 211);
  text-align: center;
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: #c5c8c3;
  padding: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #4CAF50;
}

.pet-image {
  width: 300px;
  border: 5px solid #4CAF50;
  border-radius: 10px;
}

section {
  padding: 2rem;
  margin: 1rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: white;
}